.container {
    display: flex;
    flex-direction: column;
}
.title{
    padding: 15px;
    background: white;
    color: #c11616;
    width: 100%;
}
.content{ 
    margin: 30px;
    background: white;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.add-new-user{
    background: white;
    padding: 10px;
    border-bottom: 1px solid #aeaeae;
}
td ,th {
    padding: 10px !important;
    text-align: left !important;
    font-size: 14px !important;
    text-align: left;
    border-bottom-color: #d8dce6;
    padding: 10px;
}
tr{
    border-bottom-color: #d8dce6;

}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}