.container {
    width: 4.4%;
    transition: 0.7s;
    height: 100vh;
    background-color: #1a1a27;
}
.container:hover {
    width: 15%;
    color: #1a1a27;
}
.app-icon{
    width: -webkit-fill-available;
    padding: 21px;
    cursor: pointer;
}
i{
    font-size: 20px;
    color: white;
    padding: 23px;
}
.single-menu{
    cursor: pointer;
    position: sticky;
    width: 400px;
}
.container:hover .single-menu:hover span{
    color: blue !important;
   
 
}